



#midheros{

grid-area: midheros;

    ul{
        li{
            img{
               
                width: 100%;
            }
        }
        li{
            img{
                width: 100%;
            }
        }
        li{
            img{

                width: 100%;
            }
        }
    }
}